/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2021, 8:30:53 PM
    Author     : Vu Duc Tien
*/
body{
    background-color: red;
}

.item img{
    width: 1169px;
}

.showing_comming{
    display: flex;
}